/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #121212;
}

body {
  margin: 0;
  background-color: #121212;
  color: #f5f5f5;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

.plant-card {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 1rem;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.plant-front {
  text-align: center;
}

.timer {
  font-family: monospace;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.plant-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #1f1f1f;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar button {
  padding: 0.6rem 1.2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.navbar button:hover {
  background-color: #555;
}

.add-plant {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #f5f5f5;
}
